pkgbase = greenfoot-standalone-bin
	pkgdesc = Standalone repackaging of Greenfoot IDE with bundled JDK and JavaFX
	pkgver = 3.9.0
	pkgrel = 2
	url = https://www.greenfoot.org/
	arch = x86_64
	license = GPL-2.0-only
	license = custom
	makedepends = unzip
	depends = bash
	depends = gtk3
	depends = libglvnd
	depends = alsa-lib
	depends = libxtst
	depends = libxi
	depends = libxrender
	depends = libxrandr
	depends = libxext
	depends = fontconfig
	depends = freetype2
	provides = greenfoot
	conflicts = greenfoot
	noextract = Greenfoot-generic-390.jar
	noextract = openjfx-21.0.12_linux-x64_bin-sdk.zip
	source = greenfoot
	source = greenfoot.desktop
	source = greenfoot.xml
	source = greenfoot-module
	source = Greenfoot-generic-390.jar::https://www.greenfoot.org/download/files/Greenfoot-generic-390.jar
	source = openjdk-21.0.12_linux-x64_bin.tar.gz::https://download.oracle.com/java/21/archive/jdk-21.0.12_linux-x64_bin.tar.gz
	source = openjfx-21.0.12_linux-x64_bin-sdk.zip::https://download2.gluonhq.com/openjfx/21.0.12/openjfx-21.0.12_linux-x64_bin-sdk.zip
	sha256sums = 57e26cddce5e87a44348e27c50c71470247256536fd60bca727d4d6fff2eeb9c
	sha256sums = e7f59d1c908d47773e778c11ceeb90a57dd74fa57f6d0c39fcfda7ce0ec282b8
	sha256sums = 16d1ae0af2ddefa9d0af8c6c28eda424aa8200a985cf0eeb4d29f612f80ea2c8
	sha256sums = d6757cdd64357152585a312f8ba536a4ab66d7f4506ffed4cbc524a58c685015
	sha256sums = d355c03a3284631aac9f10bd37be9a0341240206ae8aa87d7ea36cdffd6d12e6
	sha256sums = 33cc8a4ba4163b003bbf3516824861ee49e7295e6a2879ec91316c2aead78b80
	sha256sums = 9d4e3daa5f2ec07a8cacec2f8a8f56d487b99aadf757c18f5f1f1c2fb594740b

pkgname = greenfoot-standalone-bin
